*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.status{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    left: 5%;
    position: relative;
    width: 90%;
}
.cart, .info, .pay{
    align-items: center;
    border: 1px #808080 solid;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    height: 5rem;
    width: 33%;
}
.cart{
    color: #ffffff;
    background-color: #c04e79;
}
.info{
    width: 34%;
}
.circle{
    align-items: center;
    border: 1px #808080 solid;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    height: 20px;
    margin: 5px;
    padding: 1px;
    width: 20px;
}

/* .content{
    left: 5%;
    position: relative;
    width: 90%;
} */
.itens__quantity{
    display: flex;
    justify-content: flex-start;
    left: 5%;
    position: relative;
}
.bold{
    color: #000000;
    font-weight: bold;
}
.purchase{
    border-collapse: collapse;
    position: relative;
    left: 5%;
    text-align: center;
    width: 90%;
}
.table-border{
    border: 1px solid #000000;
}
.remove-item{
    background-color: #ffffff;
    border-radius: 10px;
    color: #cfcfcfce;
}
.remove-item:hover{
    color: #ff0000;
}
.minus-button{
    height: 1rem;
    margin-right: 0.5rem;
    width: 1rem;
}
.plus-button{
    height: 1rem;
    margin-left: 0.5rem;
    width: 1rem;
}

.subtotal{
    display: flex;
    justify-content: flex-end;
    left: 5%;
    position: relative;
    width: 90%;
}
.subtotal__text{
    color: #6d6b6b;
}
.subtotal__value{
    font-size: 2rem;
}

.shop-nav{
    height: 4rem;
    left: 5%;
    position: relative;
    width: 90%
}
.continue-shopping{
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    float: left;
    justify-content: flex-start;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-decoration: none;
}
.continue-shopping__arrow, .continue-shopping__text{
    color: #000000;
}
.shipping-info{
    align-items: center;
    background-color: green;
    color: #ffffff;
    display: flex;
    flex-flow: row wrap;
    float: right;
    height: 4rem;
    justify-content: flex-end;
    text-decoration: none;
}
.shipping-info__text, .shipping-info__arrow{
    padding: 1rem;
}