*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.status{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    left: 5%;
    position: relative;
    width: 90%;
}
.cart, .info, .pay{
    align-items: center;
    border: 1px grey solid;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    height: 5rem;
    width: 33%;
}
.info{
    color: #ffffff;
    background-color: #DD8857;
    width: 34%;
}
.circle{
    align-items: center;
    border: 1px #cfcfcfce;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    height: 20px;
    margin: 5px;
    padding: 1px;
    width: 20px;
}


.shipping-infos{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
.address, .contact{
    width: 45%;
}
.address-info, .contact-info{
    display: flex;
    flex-flow: column nowrap;
}
.method{
    display: flex;
    flex-flow: row wrap;

}
.method__text{
    background-color: #cfcfcfce;
    text-align: center;
    width: 100%;
}
.method__standard, .method__ultra{
    width: 50%;
}
.method__ultra{
    background-color: #cfcfcfce;
}

.shop-nav{
    height: 4rem;
    left: 5%;
    position: relative;
    width: 90%
}
.continue-shopping{
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    float: left;
    justify-content: flex-start;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-decoration: none;
}
.shipping-info{
    align-items: center;
    background-color: green;
    color: #ffffff;
    display: flex;
    flex-flow: row wrap;
    float: right;
    height: 4rem;
    justify-content: flex-end;
    text-decoration: none;
}
.shipping-info__text, .shipping-info__arrow{
    padding: 1rem;
}